body {
  background-color: rgb(255, 250, 250);
  color: rgb(10, 43, 49);
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  margin-top: 150px;
}
input {
  width: 500px;
  height: 30px;
}
img {
  width: 500px;
  height: 150px;

  .search-box {
    margin-top: 100px;
  }
}
button {
  margin: 10px;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}
